<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INOVA</title>
</head>
<body>
    <section class="header">
        <div class="container">
            <img src="{{ customer.image.url }}">
          <h1> {{ customer.first_name }} {{customer.second_name}}</h1>
            <p></p>
        </div>
    </section>
</body>
</html>